html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.evenColor {
  background:  #ffffff;
}

.oddColor {
  background:  transparent;
}

.selectedColor {
  background:rgb(231, 146, 155);
  color:  #ffffff;
}